<h1>New Recipe Page</h1>
<form style="display: flex; flex-direction: column;align-items: start;" method="POST" action="/createRecipe">
  <label> Title:
    <input name="title" />
  </label>
  <label> Cooking Time:
    <input name="cookingTime" type="number" />
  </label>
  <label> Ingredients:
    <input name="ingredients" />
  </label>
  <label> Difficulty:
    <input name="difficulty" />
  </label>
  <button type="submit">Create recipe</button>
</form>
<!-- ?title=aDSFGHJ&cookingTime=45&ingredients=sdfghgh&difficulty=dfhjg -->